$white: #fff;
$black: #000;

$video-width: 960px;
$video-height: 540px;
$video-width-medium: 640px;
$video-height-medium: 360px;
$meta-height: 72px;
$bullet-size: 12px;
$bullet-top-margin: 18px;
$bullet-vertical-adjustment: ($bullet-size / 2) + $bullet-top-margin;

$base-font-size: 24px;
$font-size-small: 18px;

$slide-left-speed: .5s;
$opacity-speed: .25s;

* {
  box-sizing: border-box;
  outline: none;
}

html {
  color: $white;
  font-family: 'brandon-grotesque', Helvetica, sans-serif;
  font-size: $base-font-size;
  font-style: italic;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

body {
  width: 100vw;
  height: 100vh;
  background: $black image-url('background.jpg') no-repeat center center;
  background-size: cover;
  position: relative;
}

a {
  color: $white;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    outline: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  line-height: 1.2;
  font-weight: normal;
}

h1 {
  @include text-overflow;
  width: 259px;
  height: 259px;
  margin: 0 auto 32px;
  display: block;
  background: image-url('logo.png') no-repeat center center;
  background-size: 259px 259px;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.bold {
  font-weight: bold;
}

.hover-underline {
  &:hover {
    text-decoration: underline;
  }
}

.hide {
  display: none;
}

.ta-center {
  text-align: center;
}

.slide-container {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
  overflow: hidden;
  pointer-events: none;
}

.slide {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  transition: left $slide-left-speed;
  pointer-events: none;
}

.slide-container[data-active-slide='0'] {
  .slide[data-slide='0'] {
    left: 0;
  }

  .slide[data-slide='1'] {
    left: 100vw;
  }
}

.slide-container[data-active-slide='1'] {
  .slide[data-slide='1'] {
    left: 0;
  }

  .slide[data-slide='0'] {
    left: -100vw;
  }
}

.slide[data-slide='1'] {
  .meta-avatar {
    background-image: image-url('ep1_avatar.png');
  }
}

.slide-content {
  max-width: $video-width;
  width: 100%;
  height: $video-height + $meta-height;
  margin: 0 auto;
  position: relative;
  top: -$meta-height / 2;
  text-align: center;
  pointer-events: auto;
}

.meta-container {
  height: $meta-height;
  display: block;
  text-align: left;
  pointer-events: none;
}

.meta-avatar {
  width: 56px;
  height: 56px;
  margin-right: 18px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 56px 56px;
  vertical-align: middle;
}

.meta-info {
  display: inline-block;
  vertical-align: middle;
}

.meta-arrow-container {
  width: 36px;
  height: 36px;
  margin-top: 10px;
  display: none;
  position: relative;
  float: right;
  background: rgba($black,0.15);
  border-radius: 18px;
}

.meta-arrow {
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  border-style: solid;
  border-width: 9px 0 9px 15.6px;
  border-color: transparent transparent transparent $white;
}

.video-container {
  height: 0;
  position: relative;
  margin: 0 auto;
  padding-bottom: ($video-height / $video-width) * 100%;
  overflow: hidden;

  iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.bullet-container {
  width: 100%;
  height: $bullet-size;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.bullet-list {
  height: $bullet-size;
  position: relative;
  top: ($video-width / 2) + $bullet-vertical-adjustment;
  text-align: center;
}

.bullet {
  margin-right: 9px;
  display: inline-block;
  vertical-align: top;
  pointer-events: auto;

  a {
    width: $bullet-size;
    height: $bullet-size;
    display: block;
    background: $white;
    border-radius: $bullet-size / 2;
    opacity: 0.3;
    transition: opacity $opacity-speed;

    &:hover {
      opacity: 0.5;
    }
  }

  &:last-child {
    margin-right: 0;
  }

  &.is-current {
    a {
      opacity: 1;
    }
  }
}

.arrow-container {
  width: 220px;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 5;
  opacity: 0;
  cursor: default;
  transition: opacity $opacity-speed;

  &.arrow-container-active {
    opacity: 1;
    cursor: pointer;

    &:hover {
      .arrow-bg-overlay {
        opacity: 0;
      }

      .arrow {
        opacity: 0.3;
      }
    }
  }
}

.arrow-bg-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0.5;
  transition: opacity $opacity-speed;
}

.arrow-container-left {
  left: 0;

  .arrow-bg-overlay {
    background-image: linear-gradient(to left, rgba($black,0), rgba($black,1));
  }
}

.arrow-container-right {
  right: 0;

  .arrow-bg-overlay {
    background-image: linear-gradient(to right, rgba($black,0), rgba($black,1));
  }
}

.arrow {
  width: 0;
  height: 0;
  margin: 0 auto;
  border-style: solid;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  opacity: 1;
  transition: opacity $opacity-speed;
}

.arrow-left {
  left: 72px;
  border-width: 16px 16px 16px 0;
  border-color: transparent $white transparent transparent;
}

.arrow-right {
  right: 72px;
  border-width: 16px 0 16px 16px;
  border-color: transparent transparent transparent $white;
}

.browser-warning {
  width: 100%;
  position: absolute;
  top: 36px;
  left: 0;
  z-index: 20;
}

.youtube-download {
  margin-top: 18px;
  padding: 0 36px;
  display: none;
  text-align: center;

  p {
    margin-bottom: 9px;
  }
}

.app-store-badge,
.google-play-badge {
  @include text-overflow;
  width: 122px;
  height: 36px;
  display: inline-block;
  vertical-align: top;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 122px 36px;
}

.app-store-badge {
  margin-right: 9px;
  background-image: image-url('app_store_badge.png');
}

.google-play-badge {
  background-image: image-url('google_play_badge.png');
}

footer {
  width: 100%;
  position: absolute;
  bottom: 18px;
  left: 0;
  z-index: 20;
  font-size: 0.75rem;
}

@media only screen and (max-width: 1023px),
       only screen and (max-height: 1023px) {
  .slide-content {
    max-width: $video-width-medium;
    height: $video-height-medium + $meta-height;
  }

  .bullet-list {
    top: ($video-height-medium / 2) + $bullet-vertical-adjustment;
  }
}

@media only screen and (max-width: 850px) {
  .arrow-left {
    left: 36px;
  }

  .arrow-right {
    right: 36px;
  }
}

@media only screen and (max-width: 767px),
       only screen and (max-height: 666px) {
  html {
    height: 100%;
    font-size: $font-size-small;
  }

  body {
    height: auto;
  }

  h1 {
    width: 72px;
    height: 72px;
    margin-top: 36px;
    margin-bottom: 8px;
    background-size: 72px 72px;
  }

  .slide-container {
    height: auto;
    padding-left: 36px;
    padding-right: 36px;
  }

  .slide {
    height: auto;
    display: block;
    position: static;
    border-bottom: 1px solid rgba($white,0.25);

    &:first-child {
      padding-bottom: 36px;
    }
  }

  .slide-content {
    max-width: none;
    height: auto;
    position: static;
  }

  .meta-arrow-container {
    display: block;
  }

  .meta-container {
    height: auto;
    padding-top: 9px;
    padding-bottom: 9px;
    pointer-events: auto;
  }

  .youtube-download {
    display: block;
  }

  .bullet-container,
  .arrow-container,
  .video-container,
  .browser-warning {
    display: none;
  }

  .browser-warning,
  footer {
    position: static;
  }

  footer {
    margin-top: 72px;
  }
}

@media only screen and (max-width: 320px) {
  .slide-container,
  .youtube-download {
    padding-left: 18px;
    padding-right: 18px;
  }
}
