<article class="slide-container" data-active-slide="0">
  <section class="slide" data-slide="0">
    <div class="slide-content">
      <h1>VR Love Letters</h1>
      <p>Experience a place through the<br />eyes of people who love it most.</p>
    </div>
  </section>

  <section class="slide" data-slide="1">
    <div class="slide-content">
      <div class="meta-container">
        <div class="meta-avatar">
        </div><div class="meta-info">
          <p>Logan Dwight</p>
          <p><strong>San Francisco</strong></p>
        </div>
      </div>
      <div class="video-container">
        <iframe width="960" height="540" src="https://www.youtube.com/embed/My_6APMvzlU?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </section>

  <div class="bullet-container">
    <ul class="bullet-list list-reset">
      <li class="bullet is-current"><a href="#"></a>
      </li><li class="bullet"><a href="#"></a>
      </li>
    </ul>
  </div>
</article>

<a class="arrow-container arrow-container-left" href="#">
  <div class="arrow-bg-overlay"></div>
  <div class="arrow arrow-left"></div>
</a>

<a class="arrow-container arrow-container-right" href="#">
  <div class="arrow-bg-overlay"></div>
  <div class="arrow arrow-right"></div>
</a>
